{% extends 'base.twig' %}

{% block primary_content %}

<div class="bs-component">
<h1 id="numRemaining">2</h1>
</div>
<div class="bs-component">
    <div class="onHover">
        <table id="viewNhlPlayersTable" class="table table-striped table-hover">
        	<thead class="thead-inverse">
            	<tr class="success">
                	<th class="onHover" align="center">Name</th>
                	<th align="center">Team</th>
                	<th align="center">Position</th>
                	<th align="center">Games Played</th>
                	<th align="center">Goals</th>
                	<th align="center">Assists</th>
                	<th align="center">+/-</th>
                	<th align="center">Penalty Mins</th>
                	<th align="center">Shots on Goal</th>
                	<th align="center">PP goals</th>
                	<th align="center">GW goals</th>
                	<th>Pick</th>
            	</tr>
        	</thead>
        	<tbody>
            {% for player in nhl_players %}
                <tr>
                	<td align="center">{{ player.name }}</td>
                	<td align="center">{{ player.team }}</td>
                	<td align="center">{{ player.position }}</td>
                	<td align="center">{{ player.games_played }}</td>
                	<td align="center">{{ player.goals }}</td>
                	<td align="center">{{ player.assists }}</td>
                	<td align="center">{{ player.plus_minus }}</td>
                	<td align="center">{{ player.penalty_mins }}</td>
                	<td align="center">{{ player.shots_on_goal }}</td>
                	<td align="center">{{ player.pp_goals }}</td>
                	<td align="center">{{ player.gw_goals }}</td>
                	<td><input class="checkboxSelector" type="checkbox" onclick='checkboxChanged(this);'></td>
            	</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
$(document).ready(function() 
    { 
		$(document).ready(function() {
		    $('#viewNhlPlayersTable').DataTable();
		} );
    } 
); 

function checkboxChanged(cb){

	var num = document.getElementById("numRemaining").innerHTML;
	
	if(cb.checked)
		num = parseInt(num) - 1;
	else
		num = parseInt(num) + 1;

	
	if(num === 0)
	{
		var checkboxes = document.getElementsByClassName('checkboxSelector');
		alert(checkboxes.length);
		for(var i = 0; i< checkboxes.length; i++)
		{
			if(!checkboxes[i].checked)
				checkboxes[i].disabled = true;
		}
	}else if(num === 1)
	{
		var checkboxes = document.getElementsByClassName('checkboxSelector');
		alert(checkboxes.length);
		for(var i = 0; i< checkboxes.length; i++)
		{
			checkboxes[i].disabled = false;
		}
	}
	
	document.getElementById("numRemaining").innerHTML = num;
	/*$('#mytable tr').filter(':has(:checkbox:checked)').each(function() {
		 $('#out').append(this.id);
		});*/
}
</script>
{% endblock %}