{% extends 'base.twig' %}

{% block primary_content %}
<div class="row" sylte="margin-top:5%;">
    <table>
    	<tr>
        	<th>Name</th>
        	<th>Team</th>
        	<th>Position</th>
        	<th>Games Played</th>
        	<th>Goals</th>
        	<th>Assists</th>
        	<th>+/-</th>
        	<th>Penalty Mins</th>
        	<th>Shots on Goal</th>
        	<th>PP goals</th>
        	<th>GW goals</th>
        	<th>Fantasy Points</th>
    	</tr>
        {% for player in player_stats %}
            <tr>
            	<td>{{ player.name }}</td>
            	<td>{{ player.team }}</td>
            	<td>{{ player.position }}</td>
            	<td>{{ player.goals }}</td>
            	<td>{{ player.assists }}</td>
            	<td>{{ player.plus_minus }}</td>
            	<td>{{ player.penalty_mins }}</td>
            	<td>{{ player.shots_on_goal }}</td>
            	<td>{{ player.pp_goals }}</td>
            	<td>{{ player.gw_goals }}</td>
            	<td>{{ player.FantasyPoints }}</td>
        	</tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
