{% extends 'base.twig' %}

{% block primary_content %}
<div class="bs-component">
		<h1>
        	{% if pool_name %}
        		{{ pool_name }}
        	{% else %}
        		Pool not found...
        	{% endif %}
        </h1>

	
    	{% if team_name and my_team %}
    		<h3>{{ team_name }} (My Team)</h3>
    	{% elseif team_name %}
    		<h3>{{ team_name }} (Other persons team!)</h3>
    	{% else %}
    		<h3>Team not found...</h3>
    		<h4><a class="btn-primary btn-lg" href="/create_team">Create Team?</a></h4>
    	{% endif %}
	
</div>
{% if team_name %}
<div class="bs-component">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
        	<thead class="thead-inverse">
            	<tr class="success">
                	<th align="center">Name</th>
                	<th align="center">Team</th>
                	<th align="center">Position</th>
                	<th align="center">Games Played</th>
                	<th align="center">Goals</th>
                	<th align="center">Assists</th>
                	<th align="center">+/-</th>
                	<th align="center">Penalty Mins</th>
                	<th align="center">Shots on Goal</th>
                	<th align="center">PP goals</th>
                	<th align="center">GW goals</th>
                	<th>Fantasy Points</th>
            	</tr>
        	</thead>
        	<tbody>
            {% for player in player_stats %}
                <tr>
                	<td align="center">{{ player.name }}</td>
                	<td align="center">{{ player.team }}</td>
                	<td align="center">{{ player.position }}</td>
                	<td align="center">{{ player.games_played }}</td>
                	<td align="center">{{ player.goals }}</td>
                	<td align="center">{{ player.assists }}</td>
                	<td align="center">{{ player.plus_minus }}</td>
                	<td align="center">{{ player.penalty_mins }}</td>
                	<td align="center">{{ player.shots_on_goal }}</td>
                	<td align="center">{{ player.pp_goals }}</td>
                	<td align="center">{{ player.gw_goals }}</td>
                	<td align="center">{{ player.FantasyPoints }}</td>
            	</tr>
            {% endfor %}
                <tr>
               	 	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td class="success">Total FP:</td>
                  	<td class="success">
            			{{ total_points }}
                	</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
