
{% extends 'base.twig' %}


{% block primary_content %}
<TITLE>My pools</TITLE>
<html>
	<script>
        function loadTeam(a, b)
        {
        	//alert(a + ' ' + b);
        	
        window.location.assign("./team.php?pid=1&oid=1");
                
        	
        }
   </script> 
<div class = "midTable">
	<div class="bs-component">
        <div class="table-responsive">
    		<table class="table table-striped table-hover">
    			<thead class="thead-inverse">
            		<tr class = "success">
            			<th>Team Name</th>
            			<th>Pool Name</th>
            			<th> Pool Id </th>
            			<th> Owner Id </th>
            		</tr>
            	</thead>
            	{% for pools in pools_enter%}
            		<tr>
            		<td onClick = "loadTeam('{{ pools.pool_id }}', '{{pools.owner_id  }}')">{{pools.team_name}}</td>
            		<td>{{pools.name}}</td>
            		<td>{{pools.pool_id}}</td>
            		<td>{{pools.owner_id }}</td>
            		</tr>
            	{% endfor %}
             	
     		</table>
		</div>
	</div>
</div>


</html>


{% endblock %}

