
{% extends 'base.twig' %}


{% block primary_content %}
<TITLE>My pools</TITLE>
<html>
	
<div class = "midTable">
	<div class="bs-component">
        <div class="table-responsive">
    		<table class="table table-striped table-hover">
    			<thead class="thead-inverse">
            		<tr class = "success">
            			<th>Team Name</th>
            			<th>Pool Name</th>
            		</tr>
            	</thead>
            	{% for pools in pools_enter%}
            		<tr>
            		<td onClick = "loadTeam('{{ pools.pool_id }}', '{{pools.owner_id }}')">{{pools.team_name}}</td>
            		<td onClick = "loadPool('{{ pools.pool_id }}', '{{pools.owner_id }}')">{{pools.name}}</td>
            		</tr>
            	{% endfor %}
             	
     		</table>
		</div>
	</div>
</div>


</html>
<script>
        function loadTeam(pid, oid)
        {  
       	 window.location.assign("./team.php?pid=" + pid + "&oid=" + oid);
       	}
       	
   </script> 
   <script>
   
  	function loadPool(pid, oid)
  	{
  		window.location.assign("./displayPool.php?pid=" + pid + "&oid=" + oid);
   	}
  	
   
   </script>

{% endblock %}

